In [1]:
# Importing necessary packages.
import pandas as pd
import csv
import numpy as np

In [2]:
import dask.dataframe as dd

In [3]:
#from dask.distributed import Client, progress
#client = Client(n_workers=2, threads_per_worker=1, memory_limit='4GB')
#client

### Load NBER Categories

In [4]:
# f_name = "application.tsv"
# f_name = "cpc_group.tsv"
# f_name = "cpc_subgroup.tsv"
# f_name = "cpc_subsection.tsv"
# f_name = "cpc_current.tsv"
# f_name = "mainclass.tsv"
# f_name = "mainclass_current.tsv"
# f_name = "subclass.tsv"
# f_name = "subclass_current.tsv"
f_name = "nber.tsv"
dtypes = {'category_id': np.int8, 'subcategory_id': np.int8}
nber = pd.read_csv(f_name, delimiter="\t", dtype=dtypes, quoting = csv.QUOTE_NONNUMERIC)

In [5]:
f_name = "nber_subcategory.tsv"
nber_cat = pd.read_csv(f_name, delimiter="\t", dtype=dtypes, quoting = csv.QUOTE_NONNUMERIC)

In [6]:
# nber has unique patent ids
nber['patent_id'].nunique()

5105937

In [7]:
nber = nber.merge(nber_cat, left_on = 'subcategory_id', right_on = 'id', how = 'left')

In [8]:
nber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5105937 entries, 0 to 5105936
Data columns (total 6 columns):
uuid              object
patent_id         object
category_id       int8
subcategory_id    int8
id                float64
title             object
dtypes: float64(1), int8(2), object(3)
memory usage: 204.5+ MB

In [9]:
# drop subcategory id 
nber = nber.drop(columns=['id'])

In [10]:
nber = nber.rename(columns={"title": "subcategory_title"})

In [11]:
nber.dtypes

uuid                 object
patent_id            object
category_id            int8
subcategory_id         int8
subcategory_title    object
dtype: object

In [12]:
nber.sample(5)

,uuid,patent_id,category_id,subcategory_id,subcategory_title
3461129,oeh0mkcofollf2wq40kmjfcki,4171136,2,24,Information Storage
4759597,xkk6nnug03k2chlupb5fu3iha,7790501,4,46,Semiconductor Devices
11821,030hmjcfjjcix8yzst117n0xc,5093778,2,22,Computer Hardware & Software
4816376,xyxvjrpweare0z2cq90e1xtvn,6855126,3,32,Surgery & Med Inst.
2985904,l1vl06c8ilbn4g5xhd9r9nv63,7756437,4,49,Miscellaneous

In [13]:
# nber[nber['patent_id'] == '4433370']

In [14]:
# important step
nber = nber.astype({'patent_id': 'str'})

### load patent files

In [15]:
f_name = "patent.tsv"
dtypes = {'num_claims': np.int16, 'withdrawn': np.float32}
patent = pd.read_csv(f_name, delimiter="\t", dtype=dtypes, parse_dates = ['date'])

/afs/crc.nd.edu/user/y/yniu/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
patent.head()

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
0,10000000,utility,10000000,US,2018-06-19,A frequency modulated (coherent) laser detecti...,Coherent LADAR using intra-pixel quadrature de...,B2,20,ipg180619.xml,NaN
1,10000001,utility,10000001,US,2018-06-19,The injection molding machine includes a fixed...,Injection molding machine and mold thickness c...,B2,12,ipg180619.xml,NaN
2,10000002,utility,10000002,US,2018-06-19,The present invention relates to: a method for...,Method for manufacturing polymer film and co-e...,B2,9,ipg180619.xml,NaN
3,10000003,utility,10000003,US,2018-06-19,The invention relates to a method for producin...,Method for producing a container from a thermo...,B2,18,ipg180619.xml,NaN
4,10000004,utility,10000004,US,2018-06-19,The present invention relates to provides a do...,"Process of obtaining a double-oriented film, c...",B2,6,ipg180619.xml,NaN

In [17]:
patent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7430873 entries, 0 to 7430872
Data columns (total 11 columns):
id            object
type          object
number        object
country       object
date          datetime64[ns]
abstract      object
title         object
kind          object
num_claims    int16
filename      object
withdrawn     float32
dtypes: datetime64[ns](1), float32(1), int16(1), object(8)
memory usage: 552.8+ MB

In [18]:
# patent['country'].unique()
patent = patent.astype({'id': 'str'})

In [19]:
# patent = patent[['id', 'type', 'date']]

In [20]:
patent.sample(5)

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
2204381,5442484,utility,5442484,US,1995-08-15,A retro-focus-type lens is provided from a la...,Retro-focus type lens and projection-type disp...,A,13,pftaps19950815_wk33.zip,0.0
3038936,6285142,utility,6285142,US,2001-09-04,A display apparatus of multi-mode cathode ray...,Display apparatus having a horizontal screen s...,A,30,pftaps20010904_wk36.zip,0.0
5970734,9230288,utility,9230288,US,2016-01-05,Information can be provided in a convenient ma...,User-specific event popularity map,B2,18,ipg160105.xml,0.0
6268284,9529739,utility,9529739,US,2016-12-27,The present invention relates to a cable (phys...,Communications interface between two non-compl...,B2,16,ipg161227.xml,0.0
6612893,9876713,utility,9876713,US,2018-01-23,Embodiments relate to cross-domain service req...,Cross-domain service request placement in a so...,B2,16,ipg180123.xml,0.0

In [21]:
patent.groupby('type').count()

,id,number,country,date,abstract,title,kind,num_claims,filename,withdrawn
type,,,,,,,,,,
TVPP,3,3,3,3,3,3,3,3,3,3
defensive publication,509,509,509,509,0,509,509,509,509,509
design,645674,645674,645674,645674,22,645674,645674,645674,645674,630205
plant,27887,27887,27887,27887,27858,27887,27887,27887,27887,27311
reissue,19227,19227,19227,19227,18929,19227,19227,19227,19227,18965
statutory invention registration,2258,2258,2258,2258,2251,2258,2258,2258,2258,2257
utility,6735315,6735315,6735315,6735315,6734508,6735315,6735315,6735315,6735315,6580496

In [22]:
# patent[patent['id'] == 4433370]

### select only utility patents

In [23]:
patent = patent[patent['type'] == 'utility']

In [24]:
# patent[patent['id'].str.contains("4433370")]

In [25]:
patent = patent.merge(nber,left_on = "id", right_on = "patent_id", how= "left")

### 75% of patent have NBER categories, which is almost every patent before 2015

In [26]:
patent[~(patent['subcategory_id'].isnull())].shape[0]/ patent.shape[0]

0.7555037886127078

In [27]:
patent['year'] = patent['date'].dt.year

In [28]:
patent[patent['subcategory_id'].isnull()].sample(5)

,id,type,number,country,date,abstract,title,kind,num_claims,filename,withdrawn,uuid,patent_id,category_id,subcategory_id,subcategory_title,year
6551321,9814828,utility,9814828,US,2017-11-14,An intravenous (IV) fluid monitoring system an...,Method and apparatus for preparing and monitor...,B2,20,ipg171114.xml,0.0,NaN,NaN,NaN,NaN,NaN,2017
638362,10643297,utility,10643297,US,2020-05-05,One embodiment provides for a graphics process...,Dynamic precision management for integer deep ...,B2,20,ipg200505.xml,0.0,NaN,NaN,NaN,NaN,NaN,2020
6219219,9480445,utility,9480445,US,2016-11-01,"An elevating column for an X-ray apparatus, th...",Elevating column and method of controlling ele...,B2,26,ipg161101.xml,0.0,NaN,NaN,NaN,NaN,NaN,2016
6667684,9931963,utility,9931963,US,2018-04-03,An electric motor control system for a vehicle...,Vehicle speed control systems and methods,B2,20,ipg180403.xml,0.0,NaN,NaN,NaN,NaN,NaN,2018
561468,10565777,utility,10565777,US,2020-02-18,A method for reducing discomfort when viewing ...,Field of view (FOV) throttling of virtual real...,B2,20,ipg200218.xml,0.0,NaN,NaN,NaN,NaN,NaN,2020

In [29]:
# we have substantial NBER category missing, starting from May 2015
patent[patent['subcategory_id'].isnull()].groupby('year')['id'].count()

year
1976         1
1986         1
2002         4
2003         1
2004         3
2005         7
2006         4
2007         7
2008         1
2009        12
2010        32
2011        45
2012        82
2013       105
2014       176
2015    181393
2016    304126
2017    320003
2018    308853
2019    355923
2020    175980
Name: id, dtype: int64

In [30]:
patent.columns

Index(['id', 'type', 'number', 'country', 'date', 'abstract', 'title', 'kind',
       'num_claims', 'filename', 'withdrawn', 'uuid', 'patent_id',
       'category_id', 'subcategory_id', 'subcategory_title', 'year'],
      dtype='object')

### load citations

In [31]:
f_name = "uspatentcitation.tsv"
# # dtypes = {'sequence': np.int16}
# # citation = pd.read_csv(f_name, delimiter="\t", dtype=dtypes)
citation = pd.read_csv(f_name, delimiter="\t") # , usecols = ['patent_id','citation_id','date'], dtype=dtypes

In [32]:
# use sample for experiments // or using the file below for reading partial data
# citation = citation.sample(frac=0.1).compute()

In [33]:
# read partial data for speed/ prototypring 

# f_name = "uspatentcitation.tsv"

# Take every N-th (in this case 10th) row
# n = 10

# Count the lines or use an upper bound
# num_lines = sum(1 for l in open(f_name))

# The row indices to skip - make sure 0 is not included to keep the header!
# skip_idx = [x for x in range(1, num_lines) if x % n != 0]

# Read the data
# citation = pd.read_csv(f_name, skiprows=skip_idx, delimiter="\t", usecols = ['patent_id','citation_id','date'], dtype=dtypes)

In [34]:
citation = citation[['patent_id','citation_id']]
# 'date' actually date can be added later

In [35]:
citation = citation.astype({'patent_id': 'str', 'citation_id': 'str'})

In [36]:
citation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111026439 entries, 0 to 111026438
Data columns (total 2 columns):
patent_id      object
citation_id    object
dtypes: object(2)
memory usage: 1.7+ GB

In [37]:
citation.dtypes

patent_id      object
citation_id    object
dtype: object

In [38]:
citation.head()

  patent_id citation_id
0   5354551     4875247
1   D674253     D519335
2   D809697     1963218
3   D808172     7207426
4   8683318     6642945

In [39]:
# citation['patent_year'] = citation['date'].astype(str).str[:4]

In [40]:
# citation = citation.dropna(subset=['patent_year'])

In [41]:
# citation = citation.astype({'year': 'int16'})

In [42]:
# citation = citation[['patent_id','citation_id','year']]

In [43]:
citation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111026439 entries, 0 to 111026438
Data columns (total 2 columns):
patent_id      object
citation_id    object
dtypes: object(2)
memory usage: 1.7+ GB

In [44]:
# # f_name = "uspc.tsv"
# # f_name = "ipcr.tsv"
# # f_name = "patent.tsv"
# # f_name = "usapplicationcitation.tsv"
# f_name = "uspatentcitation.tsv"
# chunksize = 10 ** 6
# count = 1
# n_obs = 0
# for df in pd.read_csv(f_name, delimiter="\t", chunksize=chunksize, quoting=csv.QUOTE_NONNUMERIC):
#     print('processing chunk: ' + str(count))
#     n_obs += len(df)
#     count += 1
# # Print summary of data: number of observations, columns, and each variable data type
# print(n_obs)
# print(df.dtypes)

In [45]:
# Print summary of data: number of columns, observations, and each variable data type
# print(len(df))
# df.info()
# Print basic summary statistics for numerical variables
# print(df.describe(exclude=[np.number]))

In [46]:
# df.to_csv('usapplicationcitation_sample.csv', index=False)  
# df.to_csv('patent_sample.csv', index=False)
# df.to_csv('uspatentcitation_sample.csv', index=False)
# pd.read_csv('usapplicationcitation_sample.csv')
# pd.read_csv('patent_sample.csv')
# pd.read_csv('uspatentcitation_sample.csv')

In [47]:
# Print first five observations
# df.head(20)
# df.date.max()

## merge datasets

In [48]:
citation.dtypes

patent_id      object
citation_id    object
dtype: object

In [49]:
nber.dtypes

uuid                 object
patent_id            object
category_id            int8
subcategory_id         int8
subcategory_title    object
dtype: object

In [50]:
patent.dtypes

id                           object
type                         object
number                       object
country                      object
date                 datetime64[ns]
abstract                     object
title                        object
kind                         object
num_claims                    int16
filename                     object
withdrawn                   float32
uuid                         object
patent_id                    object
category_id                 float64
subcategory_id              float64
subcategory_title            object
year                          int64
dtype: object

### merge with patents and keep only utility patents

In [51]:
citation = citation.merge(patent[['id','year','subcategory_id']], left_on = "patent_id", right_on = "id", how = 'left')

In [52]:
citation = citation.rename(columns={"year": "citing_year",'subcategory_id':'citing_subcategory_id'})

In [53]:
citation.head(5)

  patent_id citation_id       id  citing_year  citing_subcategory_id
0   5354551     4875247  5354551       1994.0                   31.0
1   D674253     D519335      NaN          NaN                    NaN
2   D809697     1963218      NaN          NaN                    NaN
3   D808172     7207426      NaN          NaN                    NaN
4   8683318     6642945  8683318       2014.0                   22.0

In [54]:
# citation['']citation['date'].astype(str).str[:4]

# 10% of citations do not have a type..... ok

In [55]:
citation[citation['id'].isnull()].shape[0] / citation.shape[0]

0.10090528076830421

In [56]:
citation = citation.merge(patent[['id','year','subcategory_id']], left_on = "citation_id", right_on = "id", how = 'left')
citation = citation.rename(columns={"year": "cited_year",'subcategory_id':'cited_subcategory_id'})

In [57]:
# 20% of patents don't have a subcategory_id 
citation[citation['cited_subcategory_id'].isnull()].shape[0] / citation.shape[0]

0.2086653432161325

In [58]:
citation.dtypes

patent_id                 object
citation_id               object
id_x                      object
citing_year              float64
citing_subcategory_id    float64
id_y                      object
cited_year               float64
cited_subcategory_id     float64
dtype: object

In [59]:
citation.head()

,patent_id,citation_id,id_x,citing_year,citing_subcategory_id,id_y,cited_year,cited_subcategory_id
0,5354551,4875247,5354551,1994.0,31.0,4875247,1989.0,69.0
1,D674253,D519335,NaN,NaN,NaN,NaN,NaN,NaN
2,D809697,1963218,NaN,NaN,NaN,NaN,NaN,NaN
3,D808172,7207426,NaN,NaN,NaN,7207426,2007.0,69.0
4,8683318,6642945,8683318,2014.0,22.0,6642945,2003.0,22.0

### select before 2015, since the category stopped at may 2015

In [60]:
citation[citation['citing_year'] < 2015].shape[0] / citation.shape[0]

0.590824163963324

In [61]:
citation = citation[citation['citing_year'] < 2015]

In [62]:
citation['cite_year_gap'] = citation['citing_year'] - citation['cited_year']

In [63]:
# citation[['cite_year_gap']].hist()

# limit forward citation towards less than 10 years

In [64]:
citation = citation[citation['cite_year_gap']<=10]

### calculate directional citation flows

In [65]:
list_subcat = list(citation['citing_subcategory_id'].dropna().unique())

In [66]:
list_subcat.sort()

In [67]:
df_citation = pd.DataFrame()

for patent_subcategory_id in list_subcat:
    temp = citation[citation['citing_subcategory_id'] == patent_subcategory_id].groupby("cited_subcategory_id").count()\
        [['citing_subcategory_id']].rename(columns={"citing_subcategory_id": patent_subcategory_id})
    df_citation = df_citation.merge(temp, left_index=True, right_index=True, how = "outer")

In [68]:
df_citation = df_citation.replace(np.nan,0)

In [69]:
df_citation

,11.0,12.0,13.0,14.0,15.0,19.0,21.0,22.0,23.0,24.0,...,61.0,62.0,63.0,64.0,65.0,66.0,67.0,68.0,69.0,70.0
cited_subcategory_id,,,,,,,,,,,,,,,,,,,,,
11.0,34450.0,1820.0,67.0,5264,1761.0,7671.0,75,343,162,31,...,1526,18,2148.0,218.0,139.0,47.0,12.0,144.0,2759,4.0
12.0,1217.0,118776.0,1222.0,2779,20559.0,41959.0,1810,2728,6407,1578,...,1574,372,774.0,6087.0,1434.0,1253.0,420.0,991.0,34622,2.0
13.0,75.0,1017.0,69811.0,544,488.0,18330.0,297,564,164,274,...,354,43,104.0,994.0,219.0,1472.0,319.0,361.0,6639,0.0
14.0,5208.0,4352.0,710.0,145211,25333.0,38513.0,452,918,721,226,...,2347,68,48.0,616.0,52.0,71.0,33.0,84.0,4607,11.0
15.0,1936.0,24014.0,1073.0,20076,316181.0,57656.0,2351,1074,2768,434,...,1749,4557,816.0,5203.0,592.0,277.0,730.0,1080.0,55051,3.0
19.0,7253.0,45981.0,24846.0,31645,49772.0,1135234.0,13429,19804,13330,6111,...,10420,1724,4579.0,13777.0,3213.0,8811.0,3370.0,13823.0,97544,2.0
21.0,62.0,1684.0,258.0,223,1349.0,10307.0,2225094,420243,65889,51423,...,1888,6926,1166.0,5367.0,4074.0,569.0,490.0,1501.0,20288,54.0
22.0,221.0,1974.0,306.0,376,666.0,11344.0,372272,1734424,127017,236960,...,1756,13815,1330.0,3936.0,1437.0,965.0,162.0,1304.0,21528,137.0
23.0,194.0,6054.0,138.0,257,1791.0,10680.0,63174,139370,551711,43767,...,193,10012,193.0,199.0,392.0,163.0,61.0,476.0,12031,103.0
24.0,8.0,1582.0,200.0,176,227.0,5756.0,52777,255829,45542,929755,...,100,1598,75.0,105.0,398.0,59.0,125.0,393.0,9111,23.0
25.0,13.0,113.0,144.0,85,88.0,1003.0,74156,229476,17550,62463,...,158,6389,212.0,606.0,382.0,35.0,14.0,461.0,3929,16.0
31.0,5784.0,8496.0,653.0,100334,48278.0,69929.0,1982,8859,646,788,...,11770,159,271.0,1408.0,985.0,425.0,52.0,1237.0,8641,14.0
32.0,179.0,6400.0,1887.0,899,5557.0,35660.0,30528,38791,4505,1812,...,1761,1076,7541.0,357.0,5603.0,493.0,2195.0,5939.0,22743,7.0
33.0,216.0,22.0,1.0,1617,810.0,263.0,27,108,13,13,...,448,4,1.0,3.0,2.0,0.0,1.0,2.0,33,0.0
39.0,105.0,6978.0,38.0,341,4214.0,3677.0,1175,4705,1246,114,...,72,241,2160.0,125.0,374.0,43.0,265.0,906.0,4320,1.0
41.0,46.0,1575.0,358.0,90,928.0,7088.0,69952,25685,10524,18643,...,795,687,915.0,2539.0,1967.0,1085.0,2006.0,1371.0,11986,3.0
42.0,7.0,3645.0,289.0,216,418.0,9857.0,21791,7879,21197,1292,...,696,1399,863.0,90.0,687.0,744.0,254.0,653.0,10758,0.0
43.0,230.0,2026.0,1250.0,254,463.0,24881.0,34611,65626,7052,5753,...,1196,1315,549.0,8061.0,474.0,982.0,978.0,806.0,14895,18.0
44.0,50.0,1722.0,440.0,230,297.0,12808.0,13768,26238,6393,3862,...,342,321,382.0,1045.0,680.0,652.0,328.0,514.0,4189,3.0
45.0,146.0,4017.0,5066.0,600,1759.0,26832.0,28133,42584,13895,11752,...,754,1097,1021.0,2552.0,5030.0,10567.0,1433.0,1587.0,24651,32.0
46.0,31.0,22479.0,244.0,1066,2049.0,53272.0,21350,35804,24582,69741,...,90,236,109.0,158.0,130.0,1604.0,96.0,248.0,15542,42.0
49.0,134.0,4058.0,344.0,106,741.0,13715.0,71362,82871,34372,13655,...,4033,2468,953.0,1037.0,1924.0,2565.0,417.0,1236.0,14102,8.0
51.0,863.0,9005.0,2229.0,728,10702.0,46281.0,8085,19206,3776,4135,...,7372,2579,4024.0,6773.0,5514.0,1649.0,2488.0,15283.0,45056,9.0
52.0,98.0,6588.0,691.0,224,1202.0,21061.0,4347,5261,2332,6267,...,812,1528,837.0,4996.0,1570.0,3727.0,2940.0,2955.0,19248,8.0
53.0,73.0,1019.0,2452.0,93,284.0,14403.0,2642,32115,782,333,...,934,314,570.0,3764.0,2470.0,2445.0,5287.0,695.0,22855,2.0
54.0,20.0,1621.0,77.0,193,753.0,10019.0,45676,20522,26574,5268,...,148,800,288.0,166.0,224.0,522.0,107.0,392.0,9338,11.0
55.0,24.0,406.0,610.0,61,1246.0,7531.0,8167,27020,510,279,...,2065,2151,3062.0,3443.0,12518.0,732.0,2200.0,4462.0,21600,1.0
59.0,302.0,4404.0,1620.0,186,992.0,18781.0,29602,42251,14285,6173,...,4764,8088,3900.0,5621.0,9863.0,2185.0,5578.0,7401.0,40046,12.0
61.0,938.0,1190.0,401.0,1595,1117.0,9071.0,1841,2614,182,103,...,210849,753,650.0,2684.0,1957.0,1936.0,323.0,6688.0,8344,4.0
62.0,11.0,408.0,20.0,27,5832.0,1442.0,4504,12428,6934,1223,...,1396,340772,1005.0,212.0,1274.0,43.0,241.0,977.0,9758,7.0
63.0,2186.0,690.0,127.0,37,356.0,4501.0,1387,2005,323,189,...,871,1015,159414.0,189.0,3437.0,250.0,939.0,4630.0,12494,0.0
64.0,113.0,3180.0,734.0,456,1590.0,10537.0,3570,3787,96,79,...,2290,261,175.0,314926.0,508.0,427.0,3331.0,330.0,9569,0.0
65.0,192.0,1640.0,302.0,44,273.0,3369.0,4362,2273,499,479,...,2595,1984,3028.0,655.0,268276.0,445.0,1563.0,6873.0,30427,1.0
66.0,86.0,1569.0,1770.0,118,256.0,9606.0,711,2336,219,78,...,2717,89,214.0,682.0,894.0,99026.0,654.0,534.0,12211,0.0
67.0,6.0,470.0,222.0,26,254.0,3626.0,904,271,134,189,...,534,415,925.0,8495.0,2536.0,767.0,66433.0,931.0,12817,1.0
68.0,149.0,1227.0,425.0,60,704.0,14251.0,2136,2381,575,549,...,9802,1098,4325.0,431.0,9447.0,596.0,929.0,199594.0,26081,1.0
69.0,2324.0,35431.0,8073.0,3352,38323.0,100174.0,25535,36320,16894,13412,...,9895,12869,14369.0,11642.0,32170.0,10965.0,10186.0,27950.0,894599,13.0
70.0,0.0,0.0,0.0,1,0.0,0.0,13,15,23,2,...,4,2,0.0,0.0,0.0,0.0,0.0,0.0,3,0.0

In [70]:
df_citation.to_csv('citation_cumsum.csv', index=True)

In [71]:
#citation[(citation['citing_year']>=start) & (citation['citing_year']<start+5+i*5)]

NameError: name 'start' is not defined

In [ ]:
#citation['citing_year'].unique().max()

In [72]:
for i in range(7):
    start = 1980
    gap = 5
    
    citation_snapshot = pd.DataFrame()

    for patent_subcategory_id in list_subcat:
        temp = citation[(citation['citing_year']>=start) & (citation['citing_year']<start+5+i*5)&
                        (citation['citing_subcategory_id'] == patent_subcategory_id)]\
                        .groupby("cited_subcategory_id").count()\
                        [['citing_subcategory_id']].rename(columns={"citing_subcategory_id": patent_subcategory_id})
        citation_snapshot = citation_snapshot.merge(temp, left_index=True, right_index=True, how = "outer")
        citation_snapshot.to_csv('5_year_citation_snapshot'+ str(start+i*5)+'.csv', index=True)